body {
    background-color: rgb(231, 233, 235);
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    background-color: rgb(250, 249, 249);
    text-align: center;
    max-width: 350px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 30px;
}

h1 {
    color: hsl(250, 100%, 50%);
}

#textBox {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    width: 50%;
}

label {
    font-size: 1.3em;
    font-weight: bold;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px; 
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 87%, 50%);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
}

#result {
    font-weight: bold;
    font-size: 1.5em;
}